[2017-09-20 13:52] nning opened #2 "Pull request with changed git source URLs of other dependencies"
Hey,

thanks for this service!

I registered a repository for a test run and got the first PR but not only the version of the mentioned dependency is changed. The schema part in two URLs of other dependencies was also changed (from https to git) and this causes the tests to fail.

https://github.com/nning/imgshr/pull/2/files

Thanks again and best regards,
henning

[2017-10-12 10:29] theflow commented on #2
Thanks for reporting this, @nning!

It looks like you configured your Bundler to use https locally? Because usually `github:` resolves into a `git://` URL. Maybe like this:

[code]

While we should be a bit smarter to never rewrite the URLs, it's actually quite hard for us to figure out since we don't know about your local bundle config (and neither would other developers on this project). I think

[2017-10-28 21:22] nning commented on #2
Oh, thank you very much for your answer! It is clearly a bad idea to only define the GitHub https source locally. I fixed it like in rails:

https://github.com/rails/rails/blob/master/Gemfile#L5

Thanks for your help!

[2017-10-28 21:22] #2 closed

[2017-11-14 23:24] autobolt opened #3 "I miss badges. Can we have badges?"
Are there badges already?  If so, can we have your badges integrated with [shields.io](http://shields.io)?

[2017-11-14 23:42] pboling commented on #3
I meant to post this as myself, not a machine user.  #RiseOfTheMachines.

[2017-11-14 23:48] mindlace commented on #3
ok, here are some badgers:

https://www.youtube.com/watch?v=NL6CDFn2i3I

[2017-11-15 23:04] FranklinYu opened #4 "Support more languages"
For example:
 - JavaScript (npm) or they would use [David](https://david-dm.org/).
 - Python (PyPI) or they would use [Requires.IO](https://requires.io/).

If Depfu is Ruby-only, it is not as outstanding since there is also [Deppbot](https://www.deppbot.com/).

[2017-12-27 14:47] romanlehnert opened #5 "Unwanted downgrade"
Given a Gemfile with only therubyracer included like [this one](https://github.com/givve/depfu-update-downgrade-bug/blob/aa5fa4c7eefe2c9e2ad8c6330ccdbe80d577f316/Gemfile) and the corresponding [Gemfile.lock](https://github.com/givve/depfu-update-downgrade-bug/blob/aa5fa4c7eefe2c9e2ad8c6330ccdbe80d577f316/Gemfile.lock).

Currently, the most recent version of therubyracer (0.12.3) depends on libv8 (

[2017-12-28 14:08] theflow commented on #5
Thanks for reporting this, Roman!

Since therubyracer removed the lib8 dependency temporarily, Bundler things that those are valid versions to satisfy the `libv8 ~> 3.16.14.15` requirement, which is technically true, but not really expected behavior :)

I'll investigate if running with `BUNDLE_ONLY_UPDATE_TO_NEWER_VERSIONS` is an option for Depfu. In this case it would produce  a conflict, which i

[2018-01-05 13:08] klausmeyer opened #6 "Outstanding Update PRs"
Hi,

first of all I want to say thank you for this great project

I really love the idea and have already merged a bunch of PRs in one of my open source side-projects (https://github.com/klausmeyer/docker-registry-browser).

I have two short questions:

* Currently I'm waiting for a PR for the upgrade from bootstrap `4.0.0.beta2.1` to `4.0.0.beta3` which is already released a week ago - is anythin

[2018-01-08 14:23] theflow commented on #6
Thanks for the feedback, Klaus!

 * We're not updating to any kind of pre-releases right now. Would you want that for all of your gems or only certain ones?
 * Yeah, indirect dependencies is something we're working on right now. We're a bit worried about the amount of pull requests it would create, but we're testing various ideas around that. If you want to help test it, send me an email to floria

[2018-01-08 14:25] theflow commented on #5
We're running with `BUNDLE_ONLY_UPDATE_TO_NEWER_VERSIONS` for everyone now as we feel that's what everyone expects and it will also be the default in Bundler 2.

[2018-01-08 14:25] #5 closed

[2018-01-08 16:21] romanlehnert commented on #5
👍

[2018-01-08 18:21] klausmeyer commented on #6
Hi Florian,

thanks for your response.

Makes sense. Did I overlook it in the documentation?
If not it would be a good point to add 😁

For me it would be fine to get PRs for gems which I'm already referencing with a prerelease in my `Gemfile` (`gem 'bootstrap', '~> 4.0.0.beta'` in my case).

Sure. I wouldn't mind to support there. Will contact you after some consideration 🤓

Best Klaus

[2018-01-08 18:21] #6 closed

[2018-01-11 15:53] neumayr opened #7 "Avatar image for depfu bot"
Currently, the depfu bot didn't have a image.
Would be nice to see an image here.

Thank you for building this service 👏  👏

![screen shot 2018-01-11 at 16 49 46](https://user-images.githubusercontent.com/13056188/34833399-9077e308-f6ef-11e7-8625-cfc32056b1eb.png)

[2018-01-11 17:18] theflow commented on #7
Thanks for reporting this! Unfortunately it’s a bug on GitHub’s side and we have to wait for them to fix it. I’ll try to follow up with them again as it also annoys me quite a bit :)

[2018-01-12 09:59] neumayr opened #8 "update Rails dependency and framework combine depfu with railsdiff"
Hey depfu 👋

Wanted to share this idea with you.
E.g. for selected gems like **rails**, to also submit framework changes that come with an update.

[Railsdiff](http://railsdiff.org/) is a great resource to view Rails framework changes. They also provide an API interface. Some version updates are with a lot of changes, but the majority are easy and only touch files that in most cases are not touche

[2018-01-25 18:29] leoarnold opened #9 "Links to a gem's repo and changelog on Depfu summary page"
It would be nice to have links to each gem's repo and changelog on the https://depfu.com/repos/user/repo page.

[2018-01-26 10:13] leoarnold commented on #7
@neumayr Looks like this is solved:
![screenshot_20180126_111202](https://user-images.githubusercontent.com/4201235/35435124-d1776a04-0289-11e8-9eb0-4d74b28c4b2c.png)

[2018-01-26 13:40] neumayr commented on #7
@leoarnold Nopey, for example in the commit timeline it's missing
https://github.com/fidor/fidor_api_demo/commits/master

[2018-01-26 15:08] theflow commented on #7
Ok, I've found a workaround for this issue that will work until GitHub rolls out a real fix. It will show up for all new PRs from now on (or any rebases).

[2018-01-26 15:08] #7 closed

[2018-01-26 15:36] leoarnold opened #10 "Depfu commiting with unclaimed email address"
Depfu committed as bot@depfu.com which is not registered with the Depfu account, hence Depfu is not showing up as a committer to the repository :-(

See: https://github.com/leoarnold/puppet-cups/commit/b7948e6630286529839b4dd32d4f5bb4a7b639dc

[2018-01-26 15:48] theflow commented on #10
Yeah, I've just changed that as a workaround for #7. Actually the depfu[bot] wasn't showing up as a contributor before either, looks like GitHub always excludes bot accounts from that.

Do you run into any other issues with Depfu using an unrecognized author?

[2018-01-26 15:53] leoarnold commented on #10
Oh, interesting, I thought it showed up as a contributor before when it was using the noreply email address - but it didn't. Sad, but not an issue.

[2018-01-26 15:53] #10 closed

[2018-01-26 17:24] theflow commented on #8
Thanks for taking the time to report the idea! Definitely something that we could try out at some point, although I'm a bit afraid of merge conflicts and how to resolve or even surface them.

[2018-01-26 17:25] theflow commented on #9
Good idea, Leo!

I've deployed a first version of this today. I might have to play around with the design a bit more, since it feels a bit busy now, but the links are all there :)

[2018-01-26 17:25] #9 closed

[2018-01-26 17:37] leoarnold commented on #9
Awesome, thanks!

[2018-02-02 13:36] leoarnold commented on #3
Since Depfu does not show up among the contributers to the repository (on GitHub that is) it would be nice to show off (i.e. free advertisement for Depfu, hint-hint) with a badge. Maybe one that counts the number of Depfu PRs merged.

Also, [GitLab aquired Gemnasium](https://techcrunch.com/2018/01/30/gitlab-acquires-gemnasium-to-strengthen-its-security-services/), so GitHubbers might be on the loo

[2018-02-02 13:43] leoarnold opened #11 "How to deal with Bundler version requirements?"
In my `Gemfile` I require Bundler to have at least v1.16.0 because previous versions of Bundler ran endlessly, failing to solve the dependency puzzle (heuristics were not good enough to handle dependency monsters like `beaker-rspec`).

Now Depfu evidently runs on Bundler v1.15.2: https://github.com/leoarnold/puppet-cups/pull/34

What is the recommended way to deal with this? I'd hate to see Depfu

[2018-02-02 20:05] pboling commented on #3
@theflow What say you?

[2018-02-02 20:08] theflow commented on #3
I can make something happen :)

Just never a big fan of the Gemnasium badge, since it would should as "Outdated" pretty much all the time.

[2018-02-02 21:57] pboling commented on #3
Agreed.  The metric of the badge should be carefully considered.  Some ideas, of which a badge could integrate one or more:

* Average age of open Depfu PRs in days, months, or years
* Average age between open and close of Depfu PRs in days, months, or years
* Number of Depfu PRs merged (@leoarnold 's idea)
* Number of open Depfu PRs (not merged)

[2018-02-05 10:48] leoarnold commented on #3
"Number of open Depfu PRs (not merged)" could come off as shaming the maintainers.

[2018-02-05 19:04] pboling commented on #3
Shaming, sure, but perhaps also motivating?  The goal as I see it would be to spur community involvement among those who depend on a project, by alerting people to the state of the project.  It will also help people who are not yet depending on a project to be able to make a more informed decision about whether or not to adopt / invest in a project.

[2018-02-12 17:31] theflow commented on #3
Ok, I've implemented a few prototypes:

![badges](https://user-images.githubusercontent.com/1552/36110062-ad6fc944-1021-11e8-8585-54e230842b46.png)

### Overview Badge

Pretty straightforward and similar to what's already out there: shows `up-to-date`, `outdated`, `insecure` for runtime dependencies. I was thinking about making the outdated less harsh by

 * ignoring patch releases (so it only cou

[2018-02-12 19:43] pboling commented on #3
I am very much in love with the count badge. ☑️

[2018-02-13 10:58] leoarnold commented on #3
The prototype of the "Depfu" badge is way longer than the usual badges and therefore a little odd. And the "Overview" badge is indistinguishable from the Gemnasium badge to me.

[2018-02-14 00:10] pboling commented on #3
To shorten, all of the badges could use `Depfu` on the left side instead of `dependencies`.

[2018-02-21 13:27] theflow opened #12 "Rethinking the dependencies badge"
Let us know any feedback and ideas about our [proposal for a new dependencies badge](https://depfu.com/blog/rethinking-the-dependencies-badge).

Try the new badge quickly by pasting your gemspec in our [preview tool](https://depfu.com/badge-preview).

[2018-02-21 14:41] jrochkind commented on #12
I think you have a good idea, and agree that the implied insistence on all dependencies being the latest at any given time is both unrealistic and counter-productive.  There are often quite reasonable and good reasons not have 100% of your dependencies being the very latest release.  Yet on the other hand, the generate state of dependency up-to-date-ness is a useful signal in evaluating software.

[2018-02-21 19:44] theflow commented on #12
@jrochkind thanks for the input!

I'm also curious about pursuing the score, but I was thinking it would lead towards somehow scoring the health of the library itself: is it well maintained, how many releases, open bugs, along those lines.

[2018-02-22 13:09] bquorning commented on #12
I looked at https://github.com/jaredbeck/libyear-bundler recently – it will tell you “how out-of-date your Gemfile is, _in a single number_”. A number like that (perhaps divided with the total number of gems in the application being checked) might be useful in your dependency badge.

Just ensure it works with private gem servers too, which I think libyear-bundler doesn’t. 😉

[2018-02-24 16:14] AlexWayfer opened #13 "API (for badges)"
Hello!

It'll be cool to see Depfu badges in https://shields.io/

But this project need Depfu API for this: https://github.com/badges/shields/issues/1523#issuecomment-368235971

Thank you.

[2018-02-24 17:41] theflow commented on #13
Hi Alex,

thanks, I'll have a look soon, should be easy to add.

- Florian

[2018-03-01 16:51] theflow commented on #12
Thanks @bquorning, I didn't know about libyear, that's a very interesting approach.

[2018-03-04 12:41] greysteil commented on #11
@halfbyte / @theflow - we handle this at Dependabot [here](https://github.com/dependabot/dependabot-core/blob/master/lib/bundler_definition_bundler_version_patch.rb). You definitely want to be using Bundler v1.16 - it's got all the resolver improvements I wrote for the Bundler team!

[2018-04-04 12:17] leoarnold opened #14 "Dealing with "yanked" gems"
I am sure you heard that `parser` gem `v2.5.0.4` was yanked from RubyGems.org:

https://stackoverflow.com/q/49499606

The [version history of `parser`](https://rubygems.org/gems/parser/versions) now lists this gem as "yanked", but the yanked version was simply missing from the list and "not there at all" in the first days after.

This broke a lot of people's (continuous) deployments.
Protection ag

[2018-04-10 04:29] franklinyu commented on #4
Bump.

[2018-04-12 10:15] theflow commented on #13
This is done now

[2018-04-12 10:15] #13 closed

[2018-04-12 10:16] theflow commented on #3
This is done: https://depfu.com/blog/rethinking-the-dependencies-badge

[2018-04-12 10:16] #3 closed

[2018-04-12 10:53] theflow commented on #11
@leoarnold We had some monkey patches in place to prevent the issue, but now we also have a proper solution to work with different Bundler version requirements. Thanks for reporting!

[2018-04-12 10:53] #11 closed

[2018-04-12 11:37] AlexWayfer commented on #13
Thank you!

[2018-05-07 10:58] leoarnold commented on #5
@theflow We have observed several PRs with downgrades (down to v0.1.0 for some gems) now. Is `BUNDLE_ONLY_UPDATE_TO_NEWER_VERSIONS` still in place?

[2018-05-07 11:11] theflow commented on #5
yeah, I noticed that as well, I think it's a bug in Bundler 1.16. I'll have a look at it this week.

[2018-05-07 11:25] thisismydesign commented on #12
Additionally it would be great to have badges per branch. I.e. development and release branches might differ a lot.

[2018-06-01 15:36] theflow commented on #5
This has been fixed for a while now.

[2018-06-07 09:20] Ana06 opened #15 "linters depfu PRs always need extra work"
When depfu updates linters like rubocop or haml-lint, it is normally the case that the tests fail. :sob: It would be great if there was a way to tell depfu that for some gems it should also run an specific task. I think it is not possible to achieve something like that at the moment. This would completely automatise the process of updating this gems and for sure save many people a lot of time. :wi

[2018-06-13 17:59] januszm opened #16 "depfu notoriously changes the order of GIT sources in Gemfile.lock"
For some reason `depfu` changes the order of entries in the Gemfile.lock, compared to how the local bundler sorts them. The changes are in the GIT section:

[code]

around a gem from a source other than Github (see above, in the middle, untouched in the diff).

The local bundler sets this source first, while `depfu` sets it as the last (after the gems from github.com).

The above diff is a result

[2018-06-15 10:56] theflow commented on #16
Hi @januszm, thanks for reporting this. Can you tell me what repo you're seeing this on? If it's a private repo you can also email me at hi@depfu.com

[2018-06-15 11:08] theflow commented on #15
Yeah, I've just heard a similar request recently.

The problem for us is that we don't want to become a CI service :) And we would need to in order to run a script on your code. We could send a webhook, but not sure how you would integrate that, so I don't think it's a good solution.

What are you using for CI? One way to maybe solve it would be to configure your CI to run that script based on the

[2018-06-15 11:34] januszm commented on #16
It's a private repository. Let's follow-up via e-mail

[2018-06-18 11:11] Ana06 commented on #15
@theflow

That may be one solution. Actually probably the only one if you don't want depfu to become a CI service. Then I'll close the issue. Thanks for your answer :wink:

[2018-06-18 11:11] #15 closed

[2018-07-20 00:05] ryota-murakami opened #17 "When depfu create PR?"
Hey, I'm RyotaMurakami😀
I'm using Depfu CreateReactApp project and like it!
that infomation(changelog, commit log) is useful written by PR.

# Question

I have a OSS React Application. https://github.com/ryota-murakami/clock-up
Today i was run `yarn outdated` command, result is following.

<img width="989" alt="screen shot 2018-07-20 at 8 36 39" src="https://user-images.githubusercontent.com/55012

[2018-07-20 09:07] theflow commented on #17
Hi RyotaMurakami,

hmm, are you sure you're on the updated master branch when you ran this? I'm getting this on ryota-murakami/clock-up:

[code]

which is the same as the Depfu dashboard shows, where only "react-testing-library" is outdated. But since you've specified a version requirement, by default we [don't send you PR for those](https://depfu.com/blog/2017/08/16/how-depfu-handles-version-cons

[2018-07-20 09:29] ryota-murakami commented on #17
@theflow Uhhh I'm stupid, my local master branch was older than Depfu PR merged origin master😅

Thank you for sharing blog, and polite support🙇‍♂️

[2018-07-20 09:29] #17 closed

[2018-08-03 14:08] mfbmina opened #18 "Reopening a PR doesn't work"
When reopening a PR, depfu still keeps it on the closed list

[2018-08-13 17:17] theflow commented on #18
True, thanks for reporting it @mfbmina!

It's fixed from now on.

[2018-08-13 17:17] #18 closed

[2018-08-13 17:17] theflow commented on #16
closing this since it's a special case handled via email

[2018-08-13 17:17] #16 closed

[2018-08-27 11:07] mfbmina opened #19 "Wrong version conventions"
Acording semvem (https://semver.org/) the version conventions are:

x.y.z, where:

- x: major
- y: minor
- x: patch

Depfu is calling minor updates as major. Eg: `[ruby] Update mysql2: 0.4.10 → 0.5.2 (major)`

[2018-08-27 11:26] theflow commented on #19
Hi @mfbmina,

we actually had some feedback in the opposite direction and changed it. The truth is pre-1.0.0 there aren't a lot of rules :)

From our experience most library authors treat `minor` version jumps as `major` updates when they are pre 1.0.0. I think you can also see that here if you look at the release notes for mysq2 0.5.0 which has a lot of breaking changes: https://github.com/brianm

[2018-08-27 12:45] mfbmina commented on #19
Hello!

I assume that I did not read the mysql release tag before creating this ticket. So, how Depfu see the diferences between major, minor and patch>

[2018-08-27 12:50] theflow commented on #19
We do it exactly as you posted for everything **after** a 1.0.0 release. For everything still in the 0.x.x range semver states:

So we treat `0.4.0` -> `0.5.0` as a major update, since that what it is in most cases.

[2018-08-27 13:30] mfbmina commented on #19
Thanks for the reply and the explanation. Also thanks for Depfu, it is an awesome product. 😄

[2018-08-30 09:41] Ana06 opened #20 "Run on multiple branches"
Currently Depfu can't run on multiple branches. It would be nice to be able to enable that Depfu send PRs for security updates in some branches. :pray:

There are already some other services like https://dependabot.com which already support this. :eyes:

[2018-08-30 10:01] theflow commented on #20
Hi @Ana06, thanks for the feedback!

Can you explain the use case a little bit more? What are these other branches used for? Are they long-lived branches used for old release lines or something like that?

thanks,
Florian

[2018-08-30 10:06] dmarcoux commented on #20
Hi @theflow

I work with @Ana06 and we indeed want to use Depfu to keep updating old releases (especially for security updates). Is this possible with Depfu?

[2018-08-30 11:54] Ana06 commented on #20
@theflow thanks for the fast answer! As @dmarcoux says, in [Open Build Service](https://github.com/openSUSE/open-build-service) we have branches for every release and we want to use depfu for security updates in every branch as long as we stop maintaining that release version. :wink:

[2018-08-31 08:53] theflow commented on #20
I think we have everything to make to work, but not exposed in the interface. Could you send me the repo name and the branches you want it on via mail to florian@depfu.com. Then we can try it out.

[2018-08-31 08:58] dmarcoux commented on #20
This is the repository: https://github.com/openSUSE/open-build-service

The branches: `2.8` and `2.9`

[2018-09-04 21:32] arch-lord opened #21 "Depfu Badge Says Invalid"
**TL;DR: There's some bug with Depfu's shields api at `https://depfu.com/github/shields/<user>/<repo>` that displays some repositories as invalid.**

I setup Depfu for my project [Blaggy](https://depfu.com/repos/arch-lord/blaggy). I wanted to put a depfu badge in my README.md, so I went to [Shields.io](http://shields.io/) and entered the correct information. The badge looks like this:
![image](htt

[2018-09-05 13:37] arch-lord commented on #21
Well, it's fixed now after about 5 days.

[2018-09-05 13:37] #21 closed

[2018-09-05 14:03] theflow commented on #21
Sorry for the problems, looks like you've disabled and enabled the repo earlier today and that fixed it.

[2018-09-05 14:04] arch-lord commented on #21
Yes. I believe that was the solution.

Sent from Mail for Windows 10

From: Florian Munz
Sent: Wednesday, September 5, 2018 10:04 AM
To: depfu/feedback
Cc: Felix Mattick; State change
Subject: Re: [depfu/feedback] Depfu Badge Says Invalid (#21)

Sorry for the problems, looks like you've disabled and enabled the repo earlier today and that fixed it.
—
You are receiving this because you modified the

[2018-09-10 07:51] dmarcoux commented on #20
We are having an issue now that we run Depfu on multiple branches. The Depfu badge doesn't point to the Depfu dependencies page of the current branch. You can see it in our [README.md](https://github.com/openSUSE/open-build-service/blob/master/README.md).

So what I expect is that when I'm on `master` in the GitHub UI, the Depfu badge points to the Depfu dependencies page for `master`. When I am o

[2018-09-10 09:09] theflow commented on #20
Sorry for that, that was my fault. It's fixed now for your existing badge on master.

To get the correct badge for a branch, you have to link up the specific badge you can get from the Depfu dashboard for that branch. I don't think there is any way for us to detect that automatically.

[2018-09-10 09:17] dmarcoux commented on #20
No worries! Thanks for the quick reply.

[2018-09-10 09:29] #19 closed

[2018-10-01 11:39] alexjeffburke opened #22 "Consider avoiding version bumps for "^x.x.x" versions"
Hey,

I've noticed in quite a few projects I work with that use depth that it will create version bump branches even in package.json specifies a caret range and thus the upgrade is covered. It would be great to have a way to turn off this behaviour - perhaps even make it conditional on the presence of lock files.

Thanks.

[2018-10-05 16:38] Ana06 opened #23 "@depfu[bot] rebase doesn't work"
Github autocomplete suggests to use @depfu[bot]:

![image](https://user-images.githubusercontent.com/16052290/45949845-ad4dfa80-bffd-11e8-9187-a1888ff333e4.png)

But it seems like `@depfu[bot] rebase` don't work, while `@depfu rebase` does work. It would be nice that `@depfu[bot] rebase` also work as it is confusing with the autocomplete. :wink:

![image](https://user-images.githubusercontent.com/

[2018-10-08 08:01] theflow commented on #23
Thanks for the feedback @Ana06!

I've added support for that now, so it should work! Github behaves a bit strange, I haven't quite figured out when it actually puts `@depfu[bot]` into the autocomplete, it's not always there.

[2018-10-08 08:05] theflow commented on #22
Thanks for the feedback @alexjeffburke!

We know it's not strictly necessary, but it solved a few edge cases with npm where it didn't behave the way we expected it to. What's the reason you'd like to not have it, any downsides you have seen?

[2018-10-17 16:18] leoarnold opened #24 "Scope of "7 PRs at once""
Depfu.com says

I was wondering about the scope of this claim. Is it per day? Per repository? Or maybe per GitHub account, so I might miss out on updates if I don't pay attention those 7 open PRs in that one company repository nobody actually cares about anymore :wink:

[2018-10-17 16:59] theflow commented on #24
Hi @leoarnold

The PR limit is per repo, or if you have multiple folders or languages in the same repo the limit is scoped to those. So you can happily ignore certain parts, and will still get new PRs in active repos. Also security updates will always ignore the PR limit.

Does that make sense?

[2018-10-17 18:00] leoarnold commented on #24
@theflow Absolutely, matches my intuitive associations, thanks!

[2018-10-17 19:05] #24 closed

[2018-10-17 19:05] #23 closed

[2018-10-28 12:31] leoarnold opened #25 "Necessity for joint update not detected."
No problem or feature request here, just wanted to let you know in case you'd consider this a bug:

Depfu upgraded to `beaker-puppet` v1.7.0

https://github.com/leoarnold/puppet-cups/pull/66/files

and builds failed because `beaker-puppet` v1.7.0 depends on  `beaker ~> 4.1` which was not upgraded. That upgrade was suggested independently

https://github.com/leoarnold/puppet-cups/pull/65/files

but

[2018-11-06 09:04] Ana06 commented on #23
Thanks @theflow! :cupid: It seems to work :wink:

[2018-11-08 11:48] #20 closed

[2019-01-23 10:39] leoarnold opened #26 "Badges incongruent about dependency count"
No issue, just FYI: In a Depfu PR today I noticed

![screenshot_20190123_113131](https://user-images.githubusercontent.com/4201235/51600658-c65ead80-1f02-11e9-9752-d584d8b06f7c.png)

while the repository shows

![screenshot_20190123_113150](https://user-images.githubusercontent.com/4201235/51600703-dc6c6e00-1f02-11e9-9ef2-d14aba997245.png)

The number of outdated dependencies seems to be accurate

[2019-01-25 14:57] theflow commented on #26
Yeah, the public badge only counts runtime dependencies as that's the default what other badge services do as well. The number in the PR is all direct dependencies, including development/test etc.

I understand that's a bit confusing, but these badges serve different purposes, so not quite sure what a good solution would be.

[2019-03-12 08:12] rpsrosario opened #27 "Language Support - Rust, Java, Kotlin?"
Depfu seems to be very interesting, however it works only with languages that I (personally) don't use, hence my question: Is there any planned support for languages like Rust, Java or Kotlin?

In the Rust ecosystem you have the [cargo][1] package manager that uses a `Cargo.toml`and a `Cargo.lock`file for dependency management.

In the Java/Kotlin ecosystem there are several tools, but I believe o

[2019-03-15 10:08] halfbyte commented on #27
@rpsrosario Thanks for that feedback. We're always interested to hear what other languages would be interesting for people, so I'll count these as votes for Gradle and Cargo. :)

The reason we haven't talked about plans to support other languages is because we haven't made any decisions yet, as we're still trying to figure out what would make the most sense for us.

[2019-03-16 18:58] rpsrosario commented on #27
@halfbyte Thank you for your answer :)

You mentioned that you'll count these as votes for Gradle and Cargo, is there someplace where people can check which languages / frameworks are being requested the most?

[2019-04-09 16:54] anym0us opened #28 "Auto-merging conflicts doesn't work if target dep gets updated in base branch"
Let's imagine the situation when

1. Depfu [bot] creates a PR to update some dependency.

2. Until the PR gets closed, the same dependency gets updated in base/master branch.
(I saw case when it was caused by Depfu as well: when another Depfu's PR gets merged).

If versions doesn't match, the conflict occurs.
However `@depfu rebase` command doesn't help to resolve it.

**Desired change**:
- Introd

[2019-04-09 17:11] theflow commented on #28
Hi @anym0us 👋

Thanks for the detailed bug report!

Your desired change is actually exactly how `@depfu rebase` works today.

Unfortunately in your case for this specific update there seems to be a problem with your yarn.lock that causes the rebase to fail. I'll follow up with you via email since it relates to a private repo and is very specific.

I'll also look into exposing a failing rebase bett

[2019-04-09 17:11] #28 closed

[2019-04-10 10:06] MilosMosovsky commented on #28
@theflow Thanks for the info, however the problem with `yarn.lock` is caused by depfu (especially when major version upgrade occurs in 1 PR and in other it gets conflict after the 1st PR is merged).

Is there any possibility to `rerun` depfu PR creation by comments ? e.g something like `@depfu recreate` which will close the PR and creates new based on fresh master ? Or even doesn't close the curre

[2019-04-10 10:17] theflow commented on #28
Hi Miloš,

I understand that the Depfu PRs tend to generate conflicts, especially in the beginning of using it. But that's exactly why we built the `@depfu rebase` and auto-rebasing. What it does is:

 * get the package.json and yarn.lock from the head of your configured default branch (master usually)
 * run the yarn update command again on it
 * force-push the commit into the existing branch

So

[2019-04-10 10:20] MilosMosovsky commented on #28
@theflow Thanks for the explanation, then it makes sense, I thought that `@depfu rebase` is doing `git rebase` on master, not checking out `package.json` and `yarn.lock` and re-running command. Thanks for the info!.You can proceed than in email with @anym0us he should have all the info.

Thanks for your quick support! Let us know if any further explanation/reproduction is needed.

[2019-04-10 10:26] theflow commented on #28
Thanks @MilosMosovsky, I've reached out to him already. We were discussing different names for the command, but even though it's not 100% correct, it's what most users were looking for and expecting. Naming is hard :)

[2019-04-10 12:30] MilosMosovsky commented on #28
@theflow I came with more investigation what actually happened in our case. We had installed `storybook@5.0.5` (locked to `yarn.lock`)

Depfu created 2 PR's

* Update `@storybook/theming` 5.0.5 -> 5.0.6
* Update all of storybook 5.0.5 -> 5.0.6

We merged `Update @storybook/theming` PR as first and `Update all of storybook` got conflicts as it included `@storybook/theming` as well.

[2019-04-10 16:19] theflow commented on #28
Yeah, in that case we missed that `@storybook/theming` is part of the storybook packages. I've fixed that now for future updates. But you'll still get conflicts, even for unrelated updates, can't really avoid that.

[2019-04-24 17:43] MilosMosovsky opened #29 "Can't make depfu work with private NPM package"
We are trying to make depfu work with one of our private `NPM` packages. But it seems it's having some problem (or maybe we are missing something).

**Current behaviour**
1. We release new package to `npmjs.com` which is privately scoped
2. Depfu has `npmjs` token to AUTH with that namespace and correctly parses the version change
3. Depfu marks the update as `Queued`
4. After some time it goes to

[2019-04-24 18:32] theflow commented on #29
Hi @MilosMosovsky,

So I've checked and everything is working fine with the private npm package.

The problem here is that right now Depfu ignores pre-releases. That has been on our list for a while but we haven't gotten to it yet: basically if you're on a pre-release version, it should also send you new pre-release updates. I'll have a look this tomorrow to see what I can do, maybe as a first ste

[2019-04-24 18:41] MilosMosovsky commented on #29
@theflow Awesome, that explains a lot, the trigger from UI would be awesome, I will try to fix it to make normal release instead of `pre-release` 👍 Thanks!

[2019-04-25 10:07] MilosMosovsky commented on #29
@theflow I am not sure if you implemented something but we just received PR from depfu :) Only the last part is missing, we don't have changelog parsed properly (there is no section for that) is there any standard format which is used for that?

[2019-04-25 14:04] theflow commented on #29
@MilosMosovsky yes, I've fixed a few issues today around pre-release versions. There is still work left, so if possible I would recommend to use stable version numbers for private packages.

Getting the list of commits and changelog showing up in the PR for private packages is another thing we're actively working on, that should be working soon.

[2019-04-25 14:08] MilosMosovsky commented on #29
@theflow Is there any possible workaround for that for now ? (e.g. packing `CHANGELOG.md` to `npm`) package so it could be read by `node_modules/@org/package/CHANGELOG.md` ? 🤔

And thanks for the great job!

[2019-04-25 14:56] theflow commented on #29
No, unfortunately not, at least we couldn't think of any workaround. It would need to be part of the response from registry.npmjs.org for your package and there is no extra info you can store there for each version.

[2019-04-29 08:27] theflow commented on #29
Hi @MilosMosovsky, I've did some more work on this and please take a look at the open PR for your private package, it should have the changelog in there now.

[2019-04-29 12:11] MilosMosovsky commented on #29
@theflow AWESOME! It works like a charm :)

[2019-05-22 22:06] bencooper222 opened #30 "Batch semver compliant upgrades and have individual PRs for major updates"
Most of our dependency specifications allow for minor/patch upgrades with no fuss - we just merge those PRs in right away, trusting that it'll be ok based on the maintainers judgement.

However, we want to give a bit more scrutiny to major (breaking) changes. Ideally, we would like all semver compliant upgrades to come in batched every week or so (configurable) while major upgrades each get their

[2019-05-24 10:01] theflow commented on #30
That's great feedback, thanks @bencooper222!

[2019-06-03 15:14] #29 closed

[2019-06-07 14:45] klyonrad opened #31 "Grouped Updates release notes"
One thing I like most about depfu's pull requests is the **instant** access to the release notes. The Pull Request of grouped updates only gives a link to the changelog 😢

At least that's what I have seen for grouping of dev and indirect dependencies

[2019-06-07 14:51] theflow commented on #31
Hi @klyonrad 👋

Yeah, the problem is that we're hitting the limit of a pull request body if there are too many packages. I'm working on showing all the details if it fits, but not sure we can show it in all cases.

[2019-07-09 08:42] Janpot opened #32 "My github handle was mentioned in the changelog of next.js"
My github handle was mentioned in the changelog of next.js. Now I'm being notified and subscribed to all issues opened by your bot for this version, on repositories I have nothing to do with.
Maybe you can just link to the changelogs instead of inlining them, or sanitize them in some way?

Same issue as https://github.com/greenkeeperio/greenkeeper/issues/1113

[2019-07-09 08:52] theflow commented on #32
Ah, damn, really sorry about that @Janpot. We do sanitize but it didn't catch the case here: https://github.com/zeit/next.js/releases/tag/v9.0.0 where some usernames are not linked on the release itself. I'll look into it.

[2019-07-09 08:59] Janpot commented on #32
If it helps: it looks like Github doesn't linkify user handles when there's more than 50.

[2019-07-09 09:06] theflow commented on #32
Yeah. I've fixed it manually for now on that release, so you shouldn't get any further subscriptions (but unfortunately most of the PRs got created already). I'll work on better detection for this case so it doesn't happen in the future.

[2019-07-16 07:19] klyonrad opened #33 "Grouped Updates - pausing is not respected"
Same as title

I hoped that this could have been a way to postpone some gems from updating :/

[2019-07-16 14:27] theflow commented on #33
Hmm, yeah, this is going to be quite tricky for us since we basically just run `bundle update`. But putting in a version requirement into your Gemfile should work?

Could you explain your use case a bit more?

[2019-07-16 15:00] klyonrad commented on #33
Well that explains it.

To give you some context for evaluating the importance

Usecase:
* Individual pull requests for the dev and test gems are annoying
* by doing them with grouped updates we can give them a more relaxed time schedule
* in generel I like the *run out of spec updates* option
* currently I have two gems that I would like to be paused: for one I am waiting on a fix, for the other

[2019-09-20 09:52] leoarnold opened #34 "Grouped Updates: rails-i18n"
I really like your grouped update feature for `rails`. Would it be possible to include `rails-i18n` if the project uses the gem? Because those Depfu upgrades seem to cause mutual conflicts as of now:

![Screenshot_20190920_114201](https://user-images.githubusercontent.com/4201235/65317835-d5ceed00-db9c-11e9-8f3e-0e98e39d9796.png)

[2019-09-20 11:49] theflow commented on #34
Hi @leoarnold, good idea! While it's not technically the same group since there is not always a corresponding version for each Rails release. I've added it now and it should help conflicts on Rails major version upgrades.

[2019-09-20 12:18] leoarnold commented on #34
:clap: 33 minutes from initial report to fix deployed is beyond any SLA

[2019-09-20 12:18] #34 closed

[2019-09-21 11:54] leoarnold opened #35 "# depfu:ignore"
In the Puppet community it is quite common to find this construct:

[code]

Now Depfu cannot know how to correctly handle this. It would be very nice if I could just append the magic comment `# depfu:ignore` to the line starting with `gem 'puppet'` and Depfu would instantly know not to send PRs for this gem.

[2019-09-25 16:07] #26 closed

[2019-10-01 13:03] leoarnold opened #36 "NPM: Wrong version comparison for betas"
This looks a bit strange:

![Screenshot_20191001_150104](https://user-images.githubusercontent.com/4201235/65964137-8ae68c80-e45c-11e9-8130-306f8f3159c1.png)

especially since the current release is `8.0.0-beta.27`

[2019-10-01 16:01] halfbyte commented on #36
@leoarnold That does look odd. My current hunch is (I'll confirm this later) that we essentially ignore prereleases when getting new versions from npm so for prereleases the "latest" column is quite useless right now.

[2019-10-14 07:27] Siilwyn opened #37 "Yarn workspace support"
Would be great to get Yarn workspace support, is there any ETA? Depfu is not OS is it? Otherwise I would create a PR.

[2019-10-21 15:26] theflow commented on #37
Hey @Siilwyn 👋

Thanks for the input, it's on our list and we should get to it quite soon. I'll let you know!

[2019-10-21 15:29] theflow commented on #33
Hey @klyonrad, we shipped support for this last week!

Paused updates are now respected in all grouped updates except when updating all dependencies in Bundler (as we're just running `bundle update`). We're looking at options there, but I think your use case of updating dev dependencies should fully work now! Let me know if see any issues or have more feedback.

[2019-10-21 15:32] theflow opened #38 "Support for additional languages"
Please use the comments and emoji reactions to vote on what you need support for.

Right now Depfu supports:

 * Ruby (Bundler)
 * JavaScript (npm and Yarn)
 * Elixir (Hex)

[2019-10-21 15:32] theflow commented on #38
Python

[2019-10-21 15:32] theflow commented on #38
Go

[2019-10-21 15:32] theflow commented on #38
Java

[2019-10-21 15:32] theflow commented on #38
PHP

[2019-10-21 15:36] theflow commented on #38
.NET

[2019-10-21 15:36] theflow commented on #27
Closing this in favor of a more general issue: https://github.com/depfu/feedback/issues/38

[2019-10-21 15:36] #27 closed

[2019-10-21 15:37] theflow commented on #4
Closing this in favor of a more general issue: https://github.com/depfu/feedback/issues/38

[2019-10-21 15:38] #4 closed

[2019-10-21 16:52] klyonrad opened #39 "rubyzip 1.3.0"
Depfu marks the version 1.3.0 as insecure, but if I am reading [the changelog](https://github.com/rubyzip/rubyzip/blob/v2.0.0/Changelog.md#130-2019-09-25) of it correctly, it seems that version 1.3.0 is still okay.

Is the error on your side or on my understanding?

Screenshot

![image](https://user-images.githubusercontent.com/1453955/67308127-e6ef7e80-f4f9-11e9-94f2-d80deb6eb017.png)

[2019-10-21 16:52] klyonrad commented on #33
Wow, thanks a ton, I did not expect this :)

[2019-10-21 17:58] Siilwyn commented on #37
Alright cheers! Eagerly waiting for this to land. :)

[2019-10-23 13:50] rpsrosario commented on #38
Rust

[2019-10-24 08:16] theflow commented on #39
Hi @klyonrad, yes, 1.3.0 is ok. That's a bug on our side where we don't detect that you manually updated to 1.3.0. I'll look into it.

[2019-11-11 14:06] #33 closed

[2019-12-04 10:16] theflow commented on #37
Hey @Siilwyn: we've shipped a first version of this and it's looking good so far. Would be great to get your input on if this works as you expect it.

[2019-12-14 19:11] Siilwyn commented on #37
:clap:  Looks good! Only I can't find how to delete the 'npm' context of the project since I switched to yarn it isn't needed anymore. But I guess that would be a new separate feature.

Will close this and report here if I find strange behavior.

[2019-12-14 19:11] #37 closed

[2019-12-16 09:42] theflow commented on #37
@Siilwyn We're actually working on that right now unrelated to this feature, but I've cleaned it up for you manually now.

[2020-01-13 20:31] Siilwyn opened #40 "Make project configurable from a repository file"
It would be great to have repo settings available on the online Depfu dashboard page as configurable values in a config file.

Would need to decide on three things:
**1) the location**
Can be one location like the root of the project or multiple (fallback) locations, for example inside the `.github` directory would be nice to avoid an extra 'root' file.

**2) the language**
Looking at other tools

[2020-01-20 12:04] leoarnold commented on #14
![Screenshot_20200120_125933](https://user-images.githubusercontent.com/4201235/72725166-5f132200-3b85-11ea-9c0d-6799830e607c.png)

[2020-01-20 12:04] #14 closed

[2020-03-26 22:17] AlexWayfer commented on #22
Too many pull requests: https://github.com/AlexWayfer/stream_timer/pulls?q=is%3Apr+label%3Adepfu

[2020-04-03 02:10] dcts opened #41 "love that you take feedback as issues. Lol."

[2020-05-22 16:24] leoarnold opened #42 "Suggest replacements for abandoned gems"
Depfu ran into a conflict trying to apply the security upgrade to Rails `6.0.3.1`. By mere fluke I found out that the aged `axlsx 3.0.0.pre` has a newer drop-in replacement called `caxlsx`.

Would be nice if Depfu could point that out so projects don't rely on abandoned gems for too long.

[2020-05-22 16:35] halfbyte commented on #42
@leoarnold That's a great suggestion, Leo. I'll see what that would entail.

[2020-06-18 09:26] theflow opened #43 "Engine Updates – missing updaters"
Updaters are what we call the code handling a single file, like a `.ruby-version` or `.circle/config.yml`.  They know where to find the version and how to update it.

As you can imagine this can be a bit brittle, but in most cases we're quite confident we can make it work well.

We started with a small list of files, so if you're specifying the version of your Ruby/Node.js/Elixir in a file we don'

[2020-06-18 12:05] benedikt commented on #43
Fantastic new feature! 🔥 I'm really excited about this 👍

We're using both `.ruby-version` and the `Gemfile` to specify the Ruby version, but we're using a relaxed definition in the `Gemfile` like this:

[code]

The pull request to upgrade to Ruby 2.7.1 updated both the `.ruby-version` and the `Gemfile.lock` but didn't update the version specification in `Gemfile`.

[2020-06-18 12:13] theflow opened #44 "Engine Updates – custom docker images"
We know that quite a few teams are using custom docker images as their base image, for example like this

[code]

This makes it basically impossible for us to automatically detect that we need to update that image in the Dockerfile, since there is no relation to the ruby/nodejs version. But it also depends on someone updating the actual image to pull in the new version, so even if we would detect

[2020-06-18 12:58] halfbyte commented on #43
@benedikt Good catch, we only update the Gemfile if it's using a simple version requirement. I'm working on a fix. Thanks for the early testing!

[2020-07-13 12:24] RuniBr opened #45 "Yarn 2 Constraints Support"
Opening this issues as we have a monorepo that uses Yarn 2 and its  [constraints](https://yarnpkg.com/features/constraints) feature and encountering compatibility issues with Depfu.

In short, constraints are essentially rules defined in a `constraints.pro` file at the root of the monorepo, which in our case are enforcing specific versions for certain dependencies throughout all workspaces in the

[2020-09-08 21:33] Siilwyn commented on #43
Do you support the `package.json` [Volta pinned fields](https://docs.volta.sh/guide/understanding#pinning-node-engines)?

[2020-09-18 07:51] rmehner commented on #43
Changed my `.node-version` by hand to the version depfu wanted to upgrade to (since I also had to adjust versions in the Dockerfiles) and depfu didn't autoclose its own PR because the version was already applied.

No biggie, just noticed. Nice feature all around! 👏

[2020-09-29 19:52] AlexWayfer opened #46 "pnpm support"
Hello.

It'd be nice to see [`pnpm`](https://pnpm.js.org/) support (`pnpm-lock.yaml` lock file).

[2020-09-30 11:41] AlexWayfer opened #47 ""Next pull request" in the past (bug?)"
Hello.

I see such information:

![image](https://user-images.githubusercontent.com/6510020/94680720-e6c34a00-032a-11eb-86c7-aeeeab804523.png)

I don't understand how "Next pull request" can be in the past (August, there is September now).

[2020-10-06 13:39] klausmeyer commented on #44
Would it be possible to allow configuring a regexp per repo which would help you extracting that version info?
Maybe as some kind of "expert feature".

In our example we're using a custom version of the alpine based ruby base-images hosted on a internal docker registry:

[code]

A (very naive) regex in that case might then be just:

[code]

IMHO this should be totally ok. One will still need to ma

[2020-10-12 13:32] vpereira opened #48 "Have the diff of the gems somewhere visible in the PR"
I use daily depfu and it's awesome.

To be able to really review the changes being introduced, I would like to have the diff between the gems visible somewhere in the PR, for example as comment in the PR or a link to the diff in my repository dashboard

[2020-10-14 14:15] theflow commented on #48
Hi @vpereira, not quite sure I follow? You mean the diff of your Gemfile? Or the code changes in the gems themselves? We do already link to the GitHub diff view in most cases. For some gems we can't find the info for various reason, maybe it's one of those?

[2020-10-15 05:34] vpereira commented on #48
Hi @theflow I mean the code changes in the gems themselves. Something like https://github.com/hennevogel/rg-poc/pull/2 or something more elaborated like https://my.diffend.io/gems/solaris-kstat/1.1.1/1.1.2

[2020-10-15 09:27] theflow commented on #48
So what more do you want to see if we take https://github.com/hennevogel/rg-poc/pull/2 as an example? It already includes the list of commits, and if you click through it goes to the [compare view](https://github.com/brendon/acts_as_list/compare/a8a755cc13545b92252a234245480813c79519cb...4a8ca865f0b95e3c97d7fc3ff80be36b7dc25ee9) which allows you to code review the diff.

[2020-10-15 19:13] vpereira commented on #48
Hi @theflow, I don't know if you scrolled his PR down, but if you read https://github.com/hennevogel/rg-poc/pull/2#issuecomment-706135912 (to show the important part) we have the list of files, meta data, diff per file, SHA1 from each file, etc.

[2020-10-28 09:20] leoarnold opened #49 "Login page distorted when Typekit is blocked"
Some browser / plugins consider Adobe Typekit a tracker and block the resource. Depfu works perfectly fine without it. You just get this visual glitch:

![Screenshot_20201028_101748](https://user-images.githubusercontent.com/4201235/97416607-eeb0e280-1906-11eb-9229-1e1ef8b2eed4.png)

[2020-11-10 15:03] eduardoj opened #50 "Gem dependency is included in update PR, even when it is paused"
Depfu has created for us a PR of an update the gem `bootstrap`. Fine.

The problem comes when we are not interested in update one of its dependencies: `autoprefixer-rails`. Even if `autoprefixer-rails` is marked as paused, we can not make Depfu to update the `bootstrap` gem, without including an `autoprefixer-rails` update. Am I missing some step, or configuration option?

You can see this in acti

[2020-11-24 10:32] theflow commented on #50
Hi @eduardoj 👋

Hmm, yeah, that is a side effect of how Bundler updates indirect dependencies. I'm afraid there is not much we can easily do here. There is the option to run Bundler with the [`--conservative` flag](https://bundler.io/man/bundle-update.1.html), but then it would never update indirect dependencies. Not sure if that would solve your use case?

Cheers,
Florian

[2020-12-17 18:34] marco-carvalho opened #51 "Option to update dependency to next closest one, instead of latest"
Take a look at this PR:
https://github.com/marco-carvalho/modal/pull/72

Right now it is trying to update upgrade gatsby from "1.9.279" to "2.29.1". But this is such a big step, that I was wondering if could be possible to create a PR updating to "2.0.0", then to "2.0.1" and so on.

[2021-01-20 17:24] leoarnold opened #52 "Bad Repo link"
![Screenshot_20210120_182137](https://user-images.githubusercontent.com/4201235/105211384-785dfe00-5b4c-11eb-94b6-91c8fa7bfc2b.png)

The "Repo" link points to `https://www.ruby-Rang.org/` which maybe was meant to be `https://www.ruby-Lang.org/` but probably should be `https://github.com/ruby/ruby2_keywords`

[2021-02-06 12:05] franky47 commented on #38
GitHub Actions:
[code]

[2021-05-05 09:13] leoarnold opened #53 "Increment major one step at a time"
I am working on a project which has not been updated for quite some time. We added Depfu just recently and it offers me updates like `jquery` from v1 to v3 or `jsdom` from v4 to v16 - both kinda daring.

I think it would be nice to have the option to increment the major one step at a time, e.g. Depfu would open a PR for the latest `jquery` v2 version - and only when that has been dealt with and me

[2021-07-05 18:01] Siilwyn opened #54 "Workspaces support for npm"
Since npm 7 there is the [workspaces feature](https://docs.npmjs.com/cli/v7/using-npm/workspaces) which allows having multiple `package.json` files with one `package-lock.json` file in the root. It would be great to have support for updating these files.

[2021-07-08 07:12] agustinusnathaniel commented on #46
Would love and appreciate it if depfu can cupport pnpm soon.

[2021-07-14 16:33] matthewlehner commented on #43
This is an incredible feature! Just tried it for the first time and was very surprised that it correctly updated our Dockerfile!

The one thing that this missed was a workflow for Github actions.

We're using Elixir with GitHub actions – it missed `.github/workflows/*.yml` with the https://github.com/erlef/setup-elixir action, like this:

[code]

I recognize that this is probably a tough one to su

[2021-08-04 05:26] bigint commented on #46
Yes waiting for pnpm support too!

[2021-10-01 15:04] alex-kim-dev opened #55 "Can't login after changing Github username"
Getting "This page isn't working" & `ERR_TOO_MANY_REDIRECTS` in Brave. This is what happens in the network panel:

<details><summary>Network screenshot</summary>

![10](https://user-images.githubusercontent.com/45559664/135642147-958d6812-a0d0-4b53-bd27-1b8ed293f0cb.png)
</details>

[Exported `.har` data](https://pastebin.com/4HBBtfKT)

[2021-10-05 08:53] theflow commented on #55
Hi @alex-kim-dev,

Sorry about that, looks like some webhooks got lost. I've manually triggered the sync now, can you try again if it works?

Cheers,
Florian

[2021-10-05 09:33] alex-kim-dev commented on #55
Works now, thanks Florian! :clap:

[2021-10-05 09:33] #55 closed, assigned to nobody

[2021-10-25 12:26] dcfranca opened #56 "(npm private repo fails) Depfu cannot access this registry."
I'm trying to update `depfu` with the new npm token format: https://github.blog/2021-09-23-announcing-npms-new-access-token-format/

I have generated a new token type `Automation`, which should work with CI/CD pipelines
However, depfu keeps giving this error message on the configuration page:

The detection seems to have worked fine and it shows on the `Organization Settings` page:

But the error

[2021-11-09 11:01] halfbyte commented on #56
This has been debugged with @dcfranca and we've found the issue - It has nothing to do with the new token format which should work exactly as the old token format has.

[2021-11-09 11:01] #56 closed, assigned to nobody

[2021-12-24 16:02] pepicrft commented on #46
Same here. Support for pnpm would be awesome

[2022-02-07 09:08] leoarnold opened #57 "Depfu is stuck and needs your help"
Depfu is running into a `JSON::ParserError` while trying to parse some response from Heroku. Since we don't use Heroku, this seems to be a Depfu internal problem.

![Screenshot_2022-02-07_10-07-47](https://user-images.githubusercontent.com/4201235/152758035-5e8dff65-1395-40f1-9547-4e942c81896c.png)

[2022-04-04 23:38] andyw8 commented on #40
This is really the only Dependabot feature I miss. When I set up a project, it would be great if I could copy a previous config rather than having to set up everything again through the web UI.

[2022-06-26 19:57] noraj opened #58 "BulmaJS: no changelog"
![image](https://user-images.githubusercontent.com/16578570/175831665-47e8b71e-06e4-4f76-aea5-6354e9547e6f.png)

There is not changelog file but there is a changelog on github release https://github.com/VizuaaLOG/BulmaJS/releases/tag/0.12.2

[2022-07-14 20:19] #57 closed, assigned to nobody

[2022-07-14 20:20] leoarnold opened #59 "How does Depfu count?"
I count 2 open PRs and 13 queued. How does Depfu arrive at 3 and 15?

![Screenshot_2022-07-14_22-18-43](https://user-images.githubusercontent.com/4201235/179076100-cd639929-a5b8-45b5-a052-c35ccf595573.png)

[2022-07-20 09:12] theflow commented on #59
@leoarnold We haven't built this very resilient, to be honest. Sometimes webhooks from GitHub don't arrive and then the count gets off. If you tell me which repo, I can look into the exact issue and see if I can find a fix.

[2022-07-20 09:18] theflow commented on #58
@noraj thanks for letting us know. Somehow this wasn't detected, but I've fixed it now

[2022-07-20 09:18] #58 closed, assigned to nobody

[2022-07-20 09:19] theflow commented on #54
@Siilwyn we recently shipped support for this. Let us know if you run into any issues.

[2022-07-20 09:19] #54 closed, assigned to nobody

[2022-07-20 09:20] theflow commented on #52
Thanks Leo, it's fixed now.

[2022-07-20 09:20] #52 closed, assigned to nobody

[2022-07-20 09:21] #41 closed, assigned to nobody

[2022-07-20 09:22] theflow commented on #40
@Siilwyn @andyw8 we recently shipped a beta of this, please give it a try and see if you run into any issues.

https://docs.depfu.com/article/41-config-files

[2022-07-20 09:22] #40 closed, assigned to nobody

[2022-07-20 09:22] #39 closed, assigned to nobody

[2022-07-20 09:22] #32 closed

[2022-07-20 09:23] #31 closed

[2022-07-20 09:23] theflow commented on #25
Closing older issues

[2022-07-20 09:23] #25 closed

[2022-07-20 09:23] #12 closed

[2022-07-20 09:24] theflow commented on #22
Closing older issues

[2022-07-20 09:24] #22 closed

[2022-07-20 09:25] theflow commented on #42
Closing older issues

[2022-07-20 09:25] #42 closed, assigned to nobody

[2022-07-20 09:25] theflow commented on #45
Closing older issues

[2022-07-20 09:26] theflow commented on #47
Closing older issues

[2022-07-20 09:26] #47 closed, assigned to nobody

[2022-07-20 09:27] theflow commented on #49
Closing older issues

[2022-07-20 09:27] #49 closed, assigned to nobody

[2022-07-20 09:28] theflow commented on #51
Duplicate of #53

[2022-07-20 09:28] #51 closed, assigned to nobody

[2022-07-20 09:29] #48 closed, assigned to nobody

[2022-07-20 09:48] leoarnold commented on #59
Let's just call it "eventual consistency" then :wink:

[2022-07-20 09:48] #59 closed, assigned to nobody

[2022-07-20 10:27] AlexWayfer commented on #47
It's still the issue:

![image](https://user-images.githubusercontent.com/6510020/179960363-74ab546c-2334-44bd-978b-74d24be22add.png)

https://depfu.com/repos/github/AlexWayfer/alexwayfer.name

I don't appreciate closing issues due to age without any resolving or even simple check.

[2022-07-20 14:55] theflow commented on #47
you're right, it's fixed now

[2022-07-24 22:12] marco-carvalho commented on #51
how this is duplicate of #53 if I created earlier?

[2022-07-26 14:13] prabhuignoto commented on #46
+1 can we have the support for pnpm

[2022-08-01 10:37] grug commented on #46
Would also love pnpm support!

[2022-10-09 09:54] tvdeyen opened #60 "Allow to run custom scripts during updates"
We ❤️ Depfu at Blish. We recently started to push our private gem on a private package repository (GitHub packages) and now get Blish updates in our client projects. **THIS FEATURE SIMPLY ROCKS!**

In order to make updates even more magical, it would be nice if we could define a script (rake task, rails generator, shell, etc) that runs on every Depfu update PR. That would make it possible to run r

[2022-10-09 11:04] tvdeyen opened #61 "Allow to group dependencies across languages"
I admit this is an edge case, but we have a gem (alchemy_cms) that has the JS code packaged in a npm package, while the ruby code is a gem. Both packages are equally versioned and live in the same mono-repo. Depfu already groups gems that belong together (Rails, Solidus) and live in  a mono repo.

It would be nice if the npm package and ruby gem would be updated together like other grouped package